.logo img {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.right ul {
    display: flex;
    gap: 30px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 70px;
    gap: 25px;
    font-family: sans-serif;
}
.first span{
    font-size: 40px;
}
section span img{
    margin:0px 10px;
}
.first p{
    font-size: 23px;
    width: 70vw;
    text-align: center;
}
.btn{
    background-color: rgb(120, 236, 236);
    padding: 6px 8px;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    margin:4px 0;
    cursor: pointer;
}
.green{
    background-color: #5cb85c;
}
.flex{
    display: flex;
}
.small{
    font-size: small;
}
.second{
    max-width: 70vw;
    margin: auto;
}
.item{
    padding: 23px;
    background-color: rgb(248, 245, 245);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.download :nth-child(2){
    font-size: 23px;
}
.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}
@media screen and (max-width:900px) {
    .grid{
        background-color: red;
        grid-template-columns: 1fr;
    }
}